<%= form_for(@ahmed) do |f| %>
  <% if @ahmed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ahmed.errors.count, "error") %> prohibited this ahmed from being saved:</h2>

      <ul>
      <% @ahmed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
